.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
  flex-direction: column;
}

.username-display {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  padding: 5px 15px;
  font-size: 1.2em;
  margin: 10px 0;
  display: inline-block;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}


.create-chat-button,
.connect-chat-button,
.set-username-button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.create-chat-button {
  background-color: #4caf50;
}

.create-chat-button:hover {
  background-color: #45a049;
}

.connect-chat-button {
  background-color: #2196f3;
}

.connect-chat-button:hover {
  background-color: #1e88e5;
}

.set-username-button {
  background-color: #ff5722;
}


.chat-window {
  width: 100%;
  max-width: 500px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.chat-history {
  max-height: 300px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  border: 1px solid #e0e0e0;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.chat-timestamp {
  font-size: 10px;
  color: #888;
  margin-right: 5px;
  display: block;
  text-align: right;
}

.chat-message {
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  max-width: 70%;
  color: black;
  position: relative;
}

.chat-message.incoming .chat-timestamp {
  text-align: left;
}

.chat-message.incoming {
  border: 1px solid #ddd;
  align-self: flex-start;
}

.chat-message.outgoing {
  background-color: #d4f1f4;
  border: 1px solid #bde0e4;
  align-self: flex-end;
}

.chat-message .chat-from {
  font-weight: bold;
}

.chat-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-input input {
  width: 80%;
  padding: 5px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}

.chat-input button {
  padding: 5px 10px;
  border: none;
  background-color: #4caf50;
  color: #ffffff;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.chat-input button:hover {
  background-color: #45a049;
}

.chat-list {
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  padding: 10px;
  background-color: #fafafa;
  max-width: 300px;
}

.chat-item {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f9f9f9;
  margin: 5px 0;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.chat-item:hover {
  background-color: #f0f0f0;
}

.chat-name {
  font-weight: bold;
  padding-right: 10px;
  flex-grow: 1;
}

.chat-preview {
  max-width: 60px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #777;
  font-size: 12px;
}

.chat-preview .unread {
  font-weight: bold;
  color: #333;
}

.copy-invite-code {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 15px;
}

.copy-invite-code:hover {
  background-color: #0056b3;
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #f3f3f3;
  color: #333;
}

.chat-header {
  background-color: #2c3e50;
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #34495e;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.chat-header h3 {
  margin: 0;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.chat-header .chat-name {
  font-size: 26px;
  margin-right: 16px;
  color: #ecf0f1;
  font-weight: 500;
}

.chat-header .chat-id {
  font-size: 16px;
  color: #95a5a6;
  background: #34495e;
  padding: 4px 8px;
  border-radius: 8px;
}

.chat-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 800px;
}

.chat-section .chat-list {
    flex: 1; 
    margin-right: 15px; 
}

.open-tab-button {
    flex: 1; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 10px 20px;
    border: none;
    color: #ffffff;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #9966ff;
    transition: background-color 0.3s;
    max-width: 200px;
    width: auto;
    margin: 0 auto;
}

.open-tab-button:hover {
    background-color: #70807a;
}
