.demo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f7f9fc;
}

.demo-content {
    width: 60%;
    background: #ffffff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.demo-content h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
}

.demo-content p {
    font-size: 1.1rem;
    color: #666;
    line-height: 1.5;
    margin-bottom: 30px;
}

.demo-content h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.demo-content button {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 10px;  /* Add spacing between the buttons */
}

.demo-content button:last-child {
    margin-right: 0; /* Ensures the last button doesn't have the extra margin */
}

.demo-content button:hover {
    background-color: #0056b3;
}

/* Default "Launch demo" button */
.demo-content button {
    background-color: #007bff;
    color: white;
}

/* "Additional messenger tab" button */
.demo-content .additional-tab-button {
    background-color: #4caf50;
    color: white;
}

.demo-content .additional-tab-button:hover {
    background-color: #388e3c; /* A slightly darker shade of green for hover effect */
}
